<nav class="navbar">
  <div>
     <a href="/homepage"><img class="logo-img" src="/logo.png" alt=""></a>
  </div>
  <% if (animalFilter != null){ %>
    <% if (animalFilter === "dog"){ %>
      <div class="mid-nav-div">
        <a class="active-anchor" href="/homepage/dog">Dogs</a>
        <a href="/homepage/both">Both</a>
        <a href="/homepage/cat">Cats</a>
      </div>
    <% } else if (animalFilter === "cat"){ %>
      <div class="mid-nav-div">
        <a href="/homepage/dog">Dogs</a>
        <a href="/homepage/both">Both</a>
        <a class="active-anchor" href="/homepage/cat">Cats</a>
      </div>
    <% } else{ %>
      <div class="mid-nav-div">
        <a href="/homepage/dog">Dogs</a>
        <a class="active-anchor" href="/homepage/both">Both</a>
        <a href="/homepage/cat">Cats</a>
      </div>
    <% } %>
  <% }else{ %>
    <div class="mid-nav-div">
      <a href="/homepage/dog">Dogs</a>
      <a href="/homepage/both">Both</a>
      <a href="/homepage/cat">Cats</a>
    </div>
    <% } %>
  <div>
      <div class="dropdown">
        <button class="dropbtn"><img class="dropdown-btn" src="/down.svg" alt="">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <% if (user) { %>
            <a href="/logout">Logout</a>
            <a href="/homepage/secret">Enter Secret Code</a>
          <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <% } %>
          
        </div>
      </div>
  </div>
</nav>