<nav class="navbar">
  <div>
    <!-- add icon -->
     <a href="/homepage">Homepage</a>
  </div>
  <div>
    <a href="">dog only</a>
    <a href="">both</a>
    <a href="">cat only</a>
  </div>
  <div>
      <div class="dropdown">
        <button class="dropbtn">Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Settings</a>
          <a href="#">Logout</a>
          <a href="/homepage/secret">Enter Secret Code</a>
        </div>
      </div>
  </div>
</nav>