<html lang="en">
  <%- include("partials/head", {title: "congratulations"}) %>
  <%- include("partials/nav") %>
  <main>
    <h1>Welcome <%= user.username %>, congratulations on being upgraded to a member!</h1>
    <a href="/homepage">Homepage</a>
  </main>
</html>