<html lang="en">
  <%- include("partials/head", {title: "Welcome To C&D"}) %>
  <main>
    <h1>Error: <%= message %></h1>
    <div class="vertical-container">
      <a href="/homepage">Homepage</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    </div>
  </main>
</html>