<html lang="en">
  <%- include("partials/head", {title: "C&D Homepage"}) %>
  <%- include("partials/nav") %>
  <main>
    <h1>Welcome <%= user.username %></h1>
    <div class="messages-div">
      <form action="homepage/new" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="body">Post</label>
        <input type="text" name="body" id="body">
        <button type="submit">Post message</button>
      </form>
    </div>
    <div>
      <% if (messages.length > 0 && messages) { %>
        <% messages.forEach(message => { %>
            <div>
              <h1><%= message.title %></h1>
            </div>
        <% }) %>
      <% } %>
    </div>
  </main>
</html>