<html lang="en">
  <%- include("partials/head", {title: "Welcome To C&D"}) %>
  <main class="centered-children">
    <h1>Welcome to C&D</h1>
    <div class="vertical-container">
      <a class="CTA" href="/signup">Sign Up</a>
      <a class="CTA" href="/login">Login</a>
      <a class="CTA" href="/homepage">Continue as a guest</a>
    </div>
  </main>
</html>