<html lang="en">
  <%- include("partials/head", {title: "Sign up"}) %>
  <main class="centered-children">
    <h1>Login</h1>
    <div class="vertical-container signup-div">
      <div>
        <% if (errors.length > 0) { %>
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
      <div>
        <% if (message != null) { %>
          <ul>
              <li><%= message %></li>
          </ul>
        <% } %>
      </div>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input maxlength="30" required type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" required maxlength="40" name="password" id="password">
        <button class="CTA" type="submit">Login</button>
      </form>
    </div>
    <a class="CTA secondary" href="/homepage">Continue as guest</a>
    <a class="CTA secondary" href="/signup">Sign up instead</a>
  </main>
</html>