<html lang="en">
  <%- include("partials/head", {title: "C&D Homepage"}) %>
  <%- include("partials/nav", {user: user, animalFilter: null}) %>
  <main class="homepage-main">
    <h1 class="wlcm-header" >SecretCodes</h1>
      <div>
        <% if (errors.length > 0) { %>
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    <form class="msg-form full-width" action="secret" method="POST">
      <div class="input-div" >
        <label for="secret">Secret Code</label>
        <input type="text" name="secret" id="secret">
      </div>
      <button class="CTA" type="submit">Submit Secret Code</button>
    </form>
  </main>
</html>