<html lang="en">
  <%- include("partials/head", {title: "C&D Homepage"}) %>
  <%- include("partials/nav", {user: user}) %>
  <main>
    <h1>SecretCodes</h1>
      <div>
        <% if (errors.length > 0) { %>
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    <form action="secret" method="POST">
      <label for="secret">Secret Code</label>
      <input type="text" name="secret" id="secret">
      <button type="submit">Submit Secret Code</button>
    </form>
  </main>
</html>