<html lang="en">
  <%- include("partials/head", {title: "C&D Homepage"}) %>
  <%- include("partials/nav") %>
  <main>
    <h1>SecretCode</h1>
    <form action="/secret" method="POST">
      <label for="secret">Secret Code</label>
      <input type="text" name="secret" id="secret">
      <button type="submit">Submit Secret Code</button>
    </form>
  </main>
</html>