/* ------ VARIABLES*/
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --powder-blue: #96ADC8;
  --lime-cream: #D7FFAB;
  --canary-Yellow: #FCFF6C;
  --light-bronze: #D89D6A;
  --chocolate-plum: #6D454C;
}


/* ----------- NAV DROPDOWN*
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
  justify-content: space-between;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 100ms ease-in-out;
  right: 0px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  transition: 100ms ease-in-out;
  right: 0px;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  font-weight: 500;
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--chocolate-plum);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
  right: 0px;
  
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  
  background-color: var(--canary-Yellow);
  border-radius: 5px;
  transition: 100ms ease-in-out;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lime-cream);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 100ms ease-in-out;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 100ms ease-in-out;
  right: 0px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--canary-Yellow);
  transition: 100ms ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  right: 0px;
  transition: 100ms ease-in-out;
}

.centered-children{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0px;
}

.vertical-container{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-align{
  align-items: start;
}
.margin-bot-24px{
  margin-bottom: 24px;
}
.max-width-1000{
  max-width: 1000px;
}
.signup-div{
  width: 100%;
  max-width: 400px;
}
.CTA{
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
  padding: 8px 24px;
  background-color: var(--powder-blue);
  font-size: 18px;
  color: white;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: 80ms ease-in-out;
  cursor: pointer;
}

.secondary{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--powder-blue);
  color: var(--chocolate-plum);
  box-shadow: none;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CTA:hover{
  scale: 1.05;
}

label, input, select, option, textarea{
  font-size: 18px;
}

label{
  font-weight: 400;
  margin-bottom: 8px;
}
input, select, option, textarea{
  margin-bottom: 16px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
  width: 100%;
  padding: 8px 12px;
}

.navbar{
  background-color: var(--lime-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar a{
  font-size: 18px;
  color: var(--chocolate-plum);
}

.logo-img{
  max-width: 100px;
}

.homepage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh 20vw;
}

.wlcm-header{
  margin-bottom: 16px;
  color: var(--chocolate-plum);
}
.input-div{
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-div > label{
  width: auto;
  min-width: 15%;
  font-weight: bold;
}

.input-div > input{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.input-div > textarea{
  width: 100%;
  resize: none;
  height: 100px;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.msg-form{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.msg-form > .CTA{
  margin: 0;
  max-width: 15%;
}
.messages-div{
  width: 100%;
}
.msg-inputs-div{
  min-width: 80%;
}

.horizontal-divider{
  height: 4px;
  width: 100%;
  margin: 32px 0px;
}

.community-h2{
  font-size: 24px;
  margin-bottom: 32px;
  color: var(--chocolate-plum);
}

.msg-board-card{
  padding: 16px;
  border-radius: 5px;
  background-color: var(--lime-cream);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin-bottom: 64px;
}

.author-div{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.msg-board-card > .horizontal-divider{
  background-color: rgba(255, 255, 255, 0);
  height: 3px;
  margin: 16px 0px;
}
.author-img{
  max-width: 50px;
}
.message-title{
  font-size: 32px;
}

.message-body{
  margin: 8px 0px;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
}
.message-date{
  min-width: 100%;
  text-align: end;
  margin-bottom: 8px;
  font-style: italic;
}
.delete-btn{
  background-color: var(--chocolate-plum);
  padding: 12px 24px;
  max-width: 300px;
  color: var(--canary-Yellow);
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.delete-btn:hover{
  background-color: #3b2024;
}

.delete-msg-form{
  display: flex;
  width: 100%;
  align-items: end;
}


.active-anchor{
  background-color: var(--canary-Yellow);
}

.dropdown-btn{
  max-width: 32px;
}

.mid-nav-div{
  display: flex;
  gap: 16px;
}

.welcome-guest-div{
  display: flex;
  gap: 32px;
}

.welcome-guest-div > .CTA{
  max-width: 30%;
}